@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* ---------------INDEX------------- */
/* Paleta de colores 
#12372A
#436850
#ADBC9F */
/* Encabezado */
.home{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

.img-nav{
    width: 300px;
    height: 150px;
}


.icon-pie{
    height: 50px;
    width: 50px;
    color: white;
}

/* Encabezado o menú de navegación */
.header_home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #12372A;

}

.nav-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    gap: 1rem;
}

/*Articulo*/
.img1{
    width: 500px;
    height: 300px;
}

.resenia{
    background-color: #ADBC9F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 1rem;
}

h1{
    font-size: 2rem;
    font-weight: bolder;
}

/* footer */
.pie{
    background-color: #436850;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,50px);
    grid-template-areas: 
    "tit  tit  tit"
    "p    p    p"
    "img1 img2 img3";
    align-items: center;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2{
    grid-area: tit;
}

.p-footer{
    grid-area: p;
}

icon-pie1{
    grid-area: img1;
}

icon-pie2{
    grid-area: img2;
}

icon-pie3{
    grid-area: img3;
}

/* ----------------CONTACTO */
form{
    padding: 2rem;
}

/* ----------------BAJO ELECTRICO */
.bass{
    background-color: #304D30;
}

/* ponemos todas las imagenes en 100% para que no se rompa en la grilla */
.img-b1, .img-b2{
    height: 100%;
    width: 100%;
}
/* article bajo */
.bass-article{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 2fr;
    grid-template-rows: 100px 200px 100px 300px 100px 300px ;
    grid-template-areas: 
    "svg1    title1   img1"
    "txt     txt     img1"
    "svg2    title2   img2"
    "frame1  frame1  img2"
    "svg3    title3   img2"
    "frame2  frame2  img2";
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 2rem;
}

.img-article1{
    grid-area: svg1;
}

.bh1{
    grid-area: title1;
    color: #B6C4B6;
    font-size: 2rem;
}

.img-b1{
    grid-area: img1;
    
}

.p-article{
    grid-area: txt;
    color: #F2F1EB;
    font-size: 1rem;
}

.img-article2{
    grid-area: svg2;
}

.bh2{
    grid-area: title2;
    color: #B6C4B6;
    font-size: 2rem;
}

.img-b2{
    grid-area: img2;
}

.iframe-b1{
   grid-area: frame1; 
}

.img-article3{
    grid-area: svg3;
}

.bh3{
    grid-area: title3;
    color: #B6C4B6;
    font-size: 2rem;
}

.iframe-b2{
   grid-area: frame2; 
}

/* Guitarras electricas */
.guitar{
    background-color: #DCF2F1;
    
}

.h1-carrousel{
    text-align: center;
    margin: 2rem;
}

.carousel-inner{
    background-color:#092635;
    margin-bottom: 2rem;
    
}

/* ----------Guitarra acustica */
.acustic-guitar{
    background-color: #C6A969;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hga{
    text-align: center;
    font-size: 2rem;
}

.img-guitar1, .img-guitar2{
    width: 100%;
    height: 100%;
}

.guitarP1, .guitarP2{
    font-size: 1.2rem;
}

.guitarA{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-template-rows: 300px repeat(2, 200px) 250px;
    grid-template-areas: 
    "frame1 img1"
    "pg1    img1"
    "img2   pg2"
    "img2   frame2";
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: end;
}

.frameG1{
    grid-area: frame1;
}

.img-guitar1{
    grid-area: img1;
}

.guitarP1{
    grid-area: pg1;
}

.img-guitar2{
    grid-area: img2;
}

.guitarP2{
    grid-area: pg2;
}

.frameG2{
    grid-area: frame2;
}

/* --------Media queries --------*/
@media only screen and (min-width: 565px) and (max-width: 935px){
    .header_home{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .guitarA{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}