@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Body */
.home{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 500px 100px;
    grid-template-areas: 
    "nav nav"
    "text img1 img2"
    "pie pie";
    gap: 2rem;
}

