@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* ---------------INDEX------------- */
/* Paleta de colores 
#12372A
#436850
#ADBC9F */
/* Encabezado */
.home{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

.img-nav{
    width: 300px;
    height: 150px;
}


.icon-pie{
    height: 50px;
    width: 50px;
    color: white;
}

/* Encabezado o menú de navegación */
.header_home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #12372A;

}

.nav-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    gap: 1rem;
}

/*Articulo*/
.img1{
    width: 500px;
    height: 300px;
}

.resenia{
    background-color: #ADBC9F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 1rem;
}

h1{
    font-size: 2rem;
    font-weight: bolder;
}

/* footer */
.pie{
    background-color: #436850;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,50px);
    grid-template-areas: 
    "tit  tit  tit"
    "p    p    p"
    "img1 img2 img3";
    align-items: center;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2{
    grid-area: tit;
}

.p-footer{
    grid-area: p;
}

icon-pie1{
    grid-area: img1;
}

icon-pie2{
    grid-area: img2;
}

icon-pie3{
    grid-area: img3;
}

/* ----------------CONTACTO */
form{
    padding: 2rem;
}

/* ----------------BAJO ELECTRICO */
.bass{
    background-color: #436850;
}

